html {
    background-color: rgb(226, 225, 227);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


.fixed-bar {
    height: 70px;
}

.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
/* nav */
.navigation{
    text-align: center;
    color: blue;
    padding: 0;
}
.navigation li, 
.navigation a{
    display: inline-block;
    width: 70px;
    background-color: aquamarine;
}
/* main */

.trip-text {
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
}

.trip-text p {
    color: white;
    margin: 0;
    width: 50%;
}

.trip-img{
    display: flex;

}

.trip-img img {
    width: 50%;
    height: 100%;
}
.tagline {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    position: relative;
    bottom: 10px;
    margin: 0;
    height: 30px;
}

/* footer */
.sosmed{
    display: flex;
    align-items: center;
    border: 1px solid cornflowerblue;
    background-color: white;
    margin: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.sosmed img{
    width: 50px;
    margin: 10px;
}

.sosmed p {
    
}